<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Servidor IoT</title>
    <link rel="stylesheet" href="/static/global_styles.css">
</head>
<body>
    <h1>Servidor Flask IoT 🚀</h1>
    <p>O servidor está rodando corretamente!</p>
    <p>Pronto para receber dados dos dispositivos!</p>
    <a href="/temperatura">
      <button>Ver última Temperatura</button>
    </a>
    <p></p>
    <a href="/todas_temperaturas">
      <button>Ver todas as Temperatura</button>
    </a>
</body>
</html>