<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>todas as temperaturas</title>
  <link rel="stylesheet" href="/static/global_styles.css">
</head>
<body>

  <h1>Temperaturas registradas 🌡️</h1>
  <ul>
    {% for temp in temperaturas %}
        <li>Temperatura: {{ temp.valor }}°C</li>
    {% else %}
        <li>Nenhuma temperatura registrada ainda.</li>
    {% endfor %}
  </ul>
  <a href="/">
    <button>voltar</button>
  </a>
  
</body>
</html>