<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ultima temperatura</title>
  <link rel="stylesheet" href="/static/global_styles.css">
</head>
<body>

  <h1>Última temperatura 🌡️</h1>
  <ul>
    {% if temperatura %}
        <li>Última temperatura : {{ temperatura }}°C</li>
    {% else %}
        <li>Nenhuma temperatura registrada ainda.</li>
    {% endif %}
  </ul>
  <a href="/">
    <button>voltar</button>
  </a>
  
</body>
</html>